@import "tailwindcss";

/* Animation corresponding to menu opening */

@layer utilities {
    .animate-in {
        animation-fill-mode: both;
    }

    .slide-in-from-top {
        animation-name: slideInFromTop;
    }

    .slide-in-from-bottom {
        animation-name: slideInFromBottom;
    }

    .duration-200 {
        animation-duration: 200ms;
    }

    .duration-300 {
        animation-duration: 300ms;
    }

    .duration-700 {
        animation-duration: 700ms;
    }

    .anim-delay-100 {
        animation-delay: 100ms;
    }
    .anim-delay-200 {
        animation-delay: 200ms;
    }
    .anim-delay-300 {
        animation-delay: 300ms;
    }
    .anim-delay-400 {
        animation-delay: 400ms;
    }
    .anim-delay-600 {
        animation-delay: 600ms;
    }
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-0.5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(0.5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
